
.item {
    display: flex;

    > a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0 1rem;
    }

    &:hover {
        background: var(--nav-background-hover);
    }
    &:active, &:focus {
        background: var(--nav-background-active);
    }
}

@media screen and (max-width: 500px) {
    .item span {
        display: none;
    }
}