<section id="room">

    <div class="container">

        <h1 class="name">{{name}}</h1>

        <div class="top">

            <span class="users">
                <span>Online: </span>
                <span class="value">0</span>
            </span>

            <span class="name">
                <span>Your Name: </span>
                <span class="value">????????</span>
            </span>
        
        </div>

        <div class="chat-container">
            <div class="chat">
                <ul class="messages">
                </ul>
            </div>

            <div class="info">
                <span class="typing"></span>
            </div>
        </div>


        <div class="bottom">
            <form class="send-message">
                <input type="text" placeholder="Message">
                <button type="submit" class="send">SEND</button>
            </form>
        </div>
        
    </div>

    <script src="/scripts/room.js" type="module"></script>
    
</section>