<section id="home">

    <div class="container">
        <h2>Join A Room</h2>

        <ul class="rooms">
            {{#each rooms}}
            <li class="room">
                <div class="info">
                    <div class="head">
                        <span class="name">{{name}}</span>
                        <span class="type"> ({{#if private}}Private{{else}}Public{{/if}}) </span>
                    </div>
                    <div class="details">
                        <span>Online: <span class="value">{{len users}}{{#if limit}}/limit{{/if}}</span></span>
                    </div>
                </div>
                <a class="join" href="/rooms/{{id}}">
                    JOIN
                </a>
            </li>
            {{/each}}
        </ul>
    </div>

    <script src="/scripts/home.js" type="module"></script>
    
</section>