<section id="join">

    <div class="container box">

        <h1 class="blue">Join Room</h1>

        <div>
            <p class="big">
                {{name}}
            </p>
            <p class="gray">
                Online: {{len users}}{{#if limit}}/limit{{/if}}
            </p>
            <p class="gray">
                {{#if private}}This room is private.{{else}}This room is public!{{/if}}
            </p>
        </div>

        <form id="form-join" method="post">
            {{#if private}}
            <div class="password input field">
                <input type="password" name="password" id ="form-password"  autocomplete="password" required>
                <label for="form-password">Password</label>
                <a href="#" class="visibility toggle">SHOW</a>
            </div>
            {{/if}}
            <button type="submit">Join</button>
        </form>

    </div>

</section>