.field.password {
    .toggle {
        position: absolute;
        bottom: 50%;
        right: 0.6em;
        display: none;
        font-size: 0.8rem;
        color: var(--gray);
        transform: translateY(50%);

        &:hover,
        &:active,
        &:focus {
            color: var(--gray-hover);
            text-decoration: none;
        }
    }

    &:hover .toggle,
    &:active .toggle,
    &:focus .toggle {
        display: block;
    }
}