:root {
    --columbia-blue: #CDE8F4;
    --aero: #74BFE7;
    --carolina-blue: #2E9FDC;
    --blue-sapphire: #156579;
    --prussian-blue: #193050;
    --gunmetal: #0B2432;

    --azureish-white: #dbe9f4;
    --bisque: #FFE0C2;

    --white: #ffffff;
    --ghost-white: #f8f8ff;
    --white-smoke: #f5f5f5;
    --platinum: #e5e4e2;
    --light-gray: #cfd3d4;
    --gray: #a3a3a3;
    --black: #000000;
    
    --scroll-track: #00000000;
    --scroll-thumb: #adadad;
    --scroll-thumb-hover: #9b9b9b;
    
    --text: var(--black);
    --text-contrast: var(--white);
    --text-blue: var(--carolina-blue);
    --text-dark-blue: var(--blue-sapphire);

    --text-button: var(--carolina-blue);

    --text-button-contrast: var(--white);
    
    --text-message: var(--black);
    --text-message-mine: var(--black);
    --text-message-server: var(--black);
    
    --text-nav-title: var(--prussian-blue);
    --text-nav-anchor: var(--blue-sapphire);
    --text-nav-anchor-dark: var(--ghost-white);
        
    --outline-input: var(--light-gray);
    --outline-input-dark: var(--gray);
    
    --background: var(--columbia-blue);
    --background-input: var(--ghost-white);
    --background-nav: var(--aero);
    --background-chat: var(--ghost-white);
    --background-container: var(--white);
    
    --background-message: var(--bisque);
    --background-message-mine: var(--azureish-white);
    --background-message-server: var(--platinum);
}

.gray {
    color: var(--gray);
}
.blue {
    color: var(--text-blue);
}
.dark-blue {
    color: var(--text-dark-blue);
}

.small {
    font-size: 0.9em;
}
.smaller {
    font-size: 0.8em;
}
.smallest {
    font-size: 0.7em;
}

.big {
    font-size: 1.1em;
}
.bigger {
    font-size: 1.2em;
}
.biggest {
    font-size: 1.3em;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1.0rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
  font-family: sans-serif;
}

ul {
  list-style: none;
}

input,
input:focus,
input:active {
  font-family: inherit;
  font-size: 100%;
  line-height: 1rem;
  background: none;
  overflow: visible;
  border: none;
  outline: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  overflow: visible;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2rem;
    color: var(--text-button);
    padding: 0.5em;
    border: 0.125em solid;
    border-radius: 0.2em;
    border-color: var(--text-button);
}
    button:hover,
    button:active
    button:focus {
        color: var(--text-button-contrast);
        background: var(--text-button);
    }

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
