
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 1.0rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
  
ul {
list-style: none;
}

input,
input:focus,
input:active {
    font-family: inherit;
    font-size: 100%;
    line-height: 1rem;
    background: none;
    overflow: visible;
    border: none;
    outline: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: inherit;
    overflow: visible;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}