
// firefox
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb);
}

// safari and chrome
* {
    &::-webkit-scrollbar {
        width: 0.625rem;
    }

    &::-webkit-scrollbar-track {
        background: var(--scroll-track);
        border-radius: 0.3em;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scroll-thumb);
        border-radius: 0.3em;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--scroll-thumb-hover);
    }

    &:active::-webkit-scrollbar-thumb:hover {
        background: var(--scroll-thumb-active);
    }
}