
.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    padding: 2rem 3rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.075);
    background: var(--background-container);
}

@media screen and (max-width: 800px) {
    .container {
        padding: 0;
        box-shadow: initial;
        background: initial;
    }
}